* { box-sizing: border-box; -webkit-user-select: none; user-select: none;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: transparent; /* Allows transparency from main.js to work */
}

.calculator {
    width: 380px;
    height: 525px;
    background: #EEEFF6;
    border: 5px solid #5154A3; /* The Purple Border */
    border-radius: 31px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 5px;
    -webkit-app-region: drag; /* Makes the app movable by clicking the title */
}

.title-text {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #3C4B4A;
}

.window-controls {
    display: flex;
    gap: 8px;
    -webkit-app-region: no-drag; /* Buttons must be clickable */
}

.win-btn {
    width: 22px;
    height: 19px;
    background: #C3C6E0;
    border: 2px solid #161735;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
    box-shadow: 0px 2px 2px rgba(145, 112, 102, 0.4);
}

#display {
    width: 100%;
    height: 79px;
    background: #F1EDE9;
    border: 4px solid #DACEAC;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 36px;
    color: #1E1915;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    width: 65px;
    height: 53px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(145, 112, 102, 0.6);
    cursor: pointer;
    transition: transform 0.05s;
}

.btn:active { transform: translateY(2px); box-shadow: none; }

.number { background: #C2C9CC; border: 4px solid #191B1C; }
#clear { background: #D9EDEB; border: 4px solid #383B3D; }
#add, #subtract, #multiply, #divide, #equals, #decimal { 
    background: #C3C6E0; border: 4px solid #161735; 
}
